body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: 0;
  color: #66BFBF;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.top-container {
  background-color: #B8E4F0;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.pict {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 99%;
}

.bottom-container {

}
.action {
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;


  }

.profile {
  text-decoration: none;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
